<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>

<input type="text" id="postcode" name="postcode" placeholder="Enter Postcode"><br>
<br>
<button id="postcode-submit">Verify</button>
<br>
<div class="postcode-result"></div>


<script>
  $(document).ready(function (){
    $('#postcode-submit').on('click', function (){
      const postcode = $('#postcode').val()
      const AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');

      $.ajax({
        method: 'POST',
        headers: { 'X-CSRF-Token': AUTH_TOKEN },
        data: { postcode: postcode },
        url: "http://localhost:4000/",
        success: function (data, status, xhr){
          if(data.allowed) {
            $('.postcode-result').html('<p>Postcode is allowed</p>')
          } else {
            $('.postcode-result').html('<p>Postcode is not allowed</p>')
          }
        }
      })
    })
  })
</script>
